{% include 'head.html' %}
{% include 'navbar.html' %}

<div class="w3-content" style="max-width:2000px;margin-top:55px">

  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:1200px">
    
    <h2 class="w3-wide">Security Logs</h2>
    <p class="w3-opacity">Admin Access Only</p>

    <div class="w3-container w3-card w3-white" style="text-align:left; padding:20px; margin-top:20px;">
      <pre style="background-color: #f4f4f4; padding: 20px; font-family: 'Courier New'; font-size: 13px; line-height: 1.5;">{{ logs }}</pre>
    </div>

    <div style="margin-top: 30px; text-align: center;">
        <a href="/" class="w3-button w3-black w3-padding-large">Back to Home</a>
    </div>
</div>
</div>

{% include 'footer.html' %}    